

.table td, .table th {
    padding: .5rem .75rem;
  }

  .total-label{
    font-size: 1.5em;
    font-weight: bold;
  }

  .total-value{
    font-size: 2em;
    font-weight: bold;
  }
  .total-value-edit{
    font-size: 3em;
    font-weight: bold;
  }

  .form-disable {
    border: 0;
    background: transparent !important;
  }

  @media (min-width: 768px) {
    .modal-dialog-max-width {
      max-width: 70%;
    }
  }

  @media (min-width: 992px) {
    .modal-dialog-max-width {
      max-width: 50%;
    }
  }
